<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="javascript/rest.startGame.js" defer async></script>
    <!-- #region -->
</head>

<body>
    <form action="" class="formulario" id="formulario">
        <div class="form_container">
            
            <input type="text"  id="gameId" class="form_input" placeholder="gamerId" required>
            <input type="text" id="gamer1" name="gamer1" class="form_input" placeholder="gamerBet1" required>
            <input type="text" id="gamer2" name="gamer2" class="form_input" placeholder="gameBet2" required>
            <input type="text" id="gamer3" name="gamer3" class="form_input" placeholder="gamerBet3" required>
            <button type="button" id="enviar" value="Enviar" class="form_boton">enviar</button>
            <pre id="resultado" class="form_resultado"></pre>
            
        </div>
    </form>
</body>

</html>